@use "../base/variables" as *;

.sidebar {
  width: $sidebar-width;
  background-color: $bg-nav;
  position: fixed;
  top: $header-height;
  left: 0;
  height: calc(100vh - #{$header-height});

  display: flex;
  flex-direction: column;
  align-items: center;

  .sidebar-list {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    .sidebar-link {
      height: 64px;
      width: 64px;

      button {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;

        img {
          max-width: 32px;
        }
      }
    }
  }

  .sidebar_copy {
    margin-top: auto;
    margin-bottom: 59px;
    writing-mode: sideways-lr;
    color: $bg-text;
    justify-self: flex-end;
    font-size: 12px;
  }
}
